.featured__container {
  position: relative;
  width: 50%;
}

.featured__image {
  display: block;
  width: 100%;
  height: auto;
}

.featured__overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.featured__container:hover .featured__overlay {
  bottom: 0;
  height: 100%;
}

.featured__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
