.categoryBox {
  box-shadow: 0 0 5px;
  position: relative;
  overflow: hidden;
  height: 300px;
  box-shadow: 0 0 5px rgb(136, 135, 135);
  border-radius: 10px;
}

.categoryBox:hover .categoryBtn {
  bottom: 5%;
  opacity: 1;
}

.categoryBtn {
  position: absolute;
  bottom: -20%;
  left: 5%;
  width: 90%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: all 0.3s linear;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
