.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.footer_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  background-color: rgb(32, 32, 32);
}

.footer_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(204, 204, 204);
  margin: 0 15px;
  width: 100%;
}

.footer_item__title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: relative;
  font-weight: 700;
}

.footer_item__title::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0px;
  border-bottom: 3px solid rgb(211, 59, 51);
}

.footer_item__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 480px) {
  .footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
