.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: -50px;
  z-index: 1;
}

.footer_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 70px 0;
  background-color: rgb(32, 32, 32);
}

.footer_item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(204, 204, 204);
  margin: 0 15px;
  width: 100%;
}

.footer_item__title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
}

.footer_item__title::before {
  content: "";
  height: 3px;
  width: 97%;
  position: absolute;
  bottom: -3px;
  left: 0px;
  border-bottom: 3px solid rgb(211, 59, 51);
}

.footer_item__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer_item__icon {
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 4px;
  line-height: 32px;
  margin-right: 5px;
}

.footer_item__icon :hover,
.footer_item__icon :active {
  padding: 4px;
}

.footer_item__info {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.footer_item__infolink {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
}

.footer_item__contactLink {
  display: flex;
  font-size: 16px;
  color: rgb(204, 204, 204);
  font-weight: 300;
  padding: 16px;
  line-height: 24px;
  text-decoration: none;
}

.footer_item__contactLink :hover {
  color: rgb(211, 59, 51);
}

.footer_item__info :hover {
  padding-left: 12px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(211, 59, 51);
}

.footer_copyright {
  width: 100%;
  text-align: center;
  background: rgb(44, 44, 44);
  padding: 25px 0px;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 480px) {
  .footer_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
